[req]
prompt = no
distinguished_name = dn
req_extensions = v3_req
input_password = secret

[dn]
C = US
ST = MA
L = Westwood
O = Red Hat
OU = Keycloak
CN = test-user@localhost
emailAddress = test-user@localhost

[ v3_req ]

# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = critical,digitalSignature,nonRepudiation,keyEncipherment
extendedKeyUsage=critical,clientAuth,emailProtection
authorityInfoAccess = OCSP;URI:http://localhost:8888/oscp
