[req]
prompt = no
distinguished_name = dn
req_extensions = usr_cert
input_password = secret

[dn]
C = US
ST = MA
L = Westwood
O = Red Hat
OU = Keycloak
CN = test-user@localhost
emailAddress = test-user@localhost

[ usr_cert ]

# Extensions to add to a certificate request
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
#authorityKeyIdentifier = keyid,issuer
keyUsage = critical,digitalSignature,nonRepudiation,keyEncipherment
extendedKeyUsage=critical,clientAuth,emailProtection
authorityInfoAccess = OCSP;URI:http://localhost:8888/oscp

